## Dataset Creation

In [24]:
import pandas as pd
import numpy as np
import random
import pickle

In [2]:
number_of_teachers = 96000
number_of_schools = 100

In [3]:
teachers = pd.DataFrame(data=np.nan, index=list(range(number_of_teachers)), columns=['id', 'gender', 'age', 'residence', 'married', 'kids', 'subject_1', 'subject_2', 'type_of_school', 'salary_expectation', 'years_of_work_experience', 'preference_big_school', 'preference_rural'])
teachers['id'] = list(range(number_of_teachers))

In [4]:
schools = pd.DataFrame(data=np.nan, index=list(range(number_of_schools)), columns=['id', 'location', 'size', 'type of school', 'rural', 'privat', 'equipment'])
schools['id'] = list(range(number_of_schools))

In [5]:
gender = ['female', 'male']
age = list(range(25, 56))
#type_of_schools = ['private', 'public']
subjects = ['Mathematics', 'Science', 'Art', 'Music', 'Sports', 'English', 'Geography']
type_of_school = ['Weiterbildungskolleg', 'Gymnasium', 'Gesamtschule', 'Grundschule', 'Waldorfschule', 'Gemeinschaftsschule (Schulversuch)', 'Förderschule', 'Realschule', 'Berufskolleg', 'Hauptschule', 'Volksschule']
salaries = list(range(48000, 64000, 2000))

In [6]:
df_types_of_schools = pd.DataFrame(data=np.nan, index=list(range(11)), columns=['type_of_school'])
df_types_of_schools['type_of_school'] = type_of_school
df_types_of_schools['number_of_schools'] = [46, 623, 358, 2788, 58, 120, 500, 379, 365, 174, 2]
df_types_of_schools['number_of_pupils'] = [18157, 501395, 335805, 646558, 19105, 59768, 85878, 202452, 522805, 51706, 282]
sum_schools = df_types_of_schools['number_of_schools'].sum()
df_types_of_schools['proportion_schools'] = df_types_of_schools['number_of_schools'].apply(lambda row: row/sum_schools)
sum_pupils = df_types_of_schools['number_of_pupils'].sum()
df_types_of_schools['proportion_pupils'] = df_types_of_schools['number_of_pupils'].apply(lambda row: row/sum_pupils)
df_types_of_schools

,type_of_school,number_of_schools,number_of_pupils,proportion_schools,proportion_pupils
0,Weiterbildungskolleg,46,18157,0.008498,0.007429
1,Gymnasium,623,501395,0.115093,0.205161
2,Gesamtschule,358,335805,0.066137,0.137405
3,Grundschule,2788,646558,0.515056,0.264559
4,Waldorfschule,58,19105,0.010715,0.007817
5,Gemeinschaftsschule (Schulversuch),120,59768,0.022169,0.024456
6,Förderschule,500,85878,0.092370,0.035140
7,Realschule,379,202452,0.070017,0.082839
8,Berufskolleg,365,522805,0.067430,0.213921
9,Hauptschule,174,51706,0.032145,0.021157
10,Volksschule,2,282,0.000369,0.000115

In [7]:
df_plz_nrw = pd.read_csv('data/plz_nrw.csv', encoding= 'unicode_escape', delimiter=';')
df_plz_nrw.head()

   Postleitzahl           Name          Landkreis
0         32049        Herford  Landkreis Herford
1         32051        Herford  Landkreis Herford
2         32052        Herford  Landkreis Herford
3         32105  Bad Salzuflen    Landkreis Lippe
4         32107  Bad Salzuflen    Landkreis Lippe

In [8]:
df_plz_einw = pd.read_csv('data/plz_einwohner.csv', delimiter=';')
df_plz_einw.head()

    plz  einwohner
0  1067    11957.0
1  1069    25491.0
2  1097    14821.0
3  1099    28018.0
4  1108     5876.0

In [9]:
# Merge to get only cities that are in NRW
df_plz = df_plz_nrw.merge(df_plz_einw, how='left', left_on='Postleitzahl', right_on='plz')[['plz', 'einwohner']]
df_plz.shape

(865, 2)

In [10]:
sum_einw = df_plz['einwohner'].sum()
df_plz['proportion'] = df_plz['einwohner'].apply(lambda row: row/sum_einw)
df_plz

       plz  einwohner    proportion
0    32049    26686.0  6.347629e-07
1    32051    17891.0  4.255618e-07
2    32052    20781.0  4.943044e-07
3    32105    18638.0  4.433302e-07
4    32107    16407.0  3.902628e-07
..     ...        ...           ...
860  59929    25962.0  6.175415e-07
861  59939    15077.0  3.586270e-07
862  59955    13003.0  3.092941e-07
863  59964     7998.0  1.902433e-07
864  59969     6345.0  1.509245e-07

[865 rows x 3 columns]

In [11]:
# 5400 Schulen in NRW

In [12]:
genders = []
ages = []
married = []
kids = []
residences = []
subjects_1 = []
subjects_2 = []
schools = []
salary_expectations = []
pref_big_school = []
pref_rural = []
for i in range(number_of_teachers):
    genders.append(random.choice(gender))
    ages.append(random.choice(age))
    married.append(random.choice([0, 1]))
    kids.append(random.choice([0, 1]))
    #residences.append(''.join(random.sample('0123456789', 5)))
    residences.append(np.random.choice(df_plz['plz'], p=df_plz['proportion']))
    both_subjects = random.sample(subjects, 2)
    subjects_1.append(both_subjects[0])
    subjects_2.append(both_subjects[1])
    schools.append(np.random.choice(df_types_of_schools['type_of_school'], p=df_types_of_schools['proportion_pupils']))
    salary_expectations.append(random.choice(salaries))
    pref_big_school.append(random.choice([0, 1]))
    pref_rural.append(random.choice([0, 1]))
    
teachers['gender'] = genders
teachers['age'] = ages
teachers['married'] = married
teachers['kids'] = kids
teachers['residence'] = residences
teachers['subject_1'] = subjects_1
teachers['subject_2'] = subjects_2
teachers['type_of_school'] = schools
teachers['salary_expectation'] = salary_expectations
teachers['years_of_work_experience'] = teachers['age'].apply(lambda row: max(0, row-random.randint(25, 35)))
teachers['preference_big_school'] = pref_big_school
teachers['preference_rural'] = pref_rural

In [13]:
teachers

,id,gender,age,residence,married,kids,subject_1,subject_2,type_of_school,salary_expectation,years_of_work_experience,preference_big_school,preference_rural
0,0,female,32,48155,0,1,Art,English,Gymnasium,50000,0,1,1
1,1,male,49,47669,0,1,Science,Art,Berufskolleg,52000,18,0,0
2,2,male,53,52525,0,0,Art,Sports,Grundschule,62000,20,1,0
3,3,male,45,47807,1,1,Mathematics,English,Grundschule,50000,10,0,1
4,4,female,31,48629,1,0,Geography,English,Gesamtschule,50000,4,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95995,95995,female,53,59423,0,1,Music,Science,Grundschule,60000,26,0,0
95996,95996,female,37,33647,0,1,English,Science,Berufskolleg,58000,11,0,0
95997,95997,female,55,47669,0,1,Geography,Science,Gymnasium,48000,30,1,1
95998,95998,male,26,50389,0,0,Mathematics,Sports,Grundschule,50000,0,1,1
95999,95999,female,50,48155,0,0,Sports,Geography,Gymnasium,62000,18,1,1

In [ ]:
# 5400 Schulen, Wie viele Lehrer schätzen?

In [14]:
teachers.to_csv('data/teachers.csv', index=False)

In [6]:
# Filter on Waldorfschule

In [7]:
df_teachers = pd.read_csv('../data/teachers.csv')
df_schools = pd.read_csv('../data/school_dataset.csv')

In [10]:
df_schools

,school_number,school_type,name,short_name,address,zipcode,location,student,tel,email,is_big,community,is_rural,coordinates,latitude,longitude
0,100000,Weiterbildungskolleg,Studienkolleg des Ökumenischen,"Bochum, WBK KOL Studienkolleg",Girondelle 80,44799,Bochum,0,2.349388e+09,100000@schule.nrw.de,0,"Bochum, Stadt",0,"(51.454125418916135, 7.234122444196718)",51.454125,7.234122
1,100010,Gymnasium,Gymnasium Claudia Agrippina Privat,"Köln, Gym Gymnasium Claudia Agrippina",Stolberger Str. 112,50933,Köln,98,2.213800e+10,100010@schule.nrw.de,0,"Köln, Stadt",0,"(50.94161647765391, 6.881410448090622)",50.941616,6.881410
2,100011,Gesamtschule,Städt. Gesamtschule,"Haan, GE Walder Straße",Walder Str. 15,42781,Haan,531,2.129375e+10,100011@schule.nrw.de,1,Mettmann,1,"(51.208013199999996, 7.01574931157376)",51.208013,7.015749
3,100012,Grundschule,Städt. Gemeinschaftsgrundschule,"Leverkusen, GG Am Friedenspark",Netzestr. 12,51371,Leverkusen,355,2.143108e+08,100012@schule.nrw.de,0,"Leverkusen, Stadt",0,"(51.05702510942749, 6.946612662697298)",51.057025,6.946613
4,100014,Grundschule,Kolibri-Schule,"Herne, GG Kolibri-Schule",Jean-Vogel-Str. 36,44625,Herne,436,2.323164e+09,100014@schule.nrw.de,0,"Herne, Stadt",0,"(51.52862893905526, 7.211516297688583)",51.528629,7.211516
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5649,199953,Gesamtschule,KOSMOS-Bildung Münsterlandschule Tilbeck,"Havixbeck,GE KOSMOS-Bild. Münsterlandsch",Tilbeck 2,48329,Havixbeck,230,2.507539e+10,199953@schule.nrw.de,0,Coesfeld,1,"(42.68717911042164, -83.38364684146275)",42.687179,-83.383647
5650,199965,Gemeinschaftsschule (Schulversuch),Josef-Annegarn-Sekundarschule,"Ostbevern, SK Josef-Annegarn",Hanfgarten 18,48346,Ostbevern,569,2.532957e+09,199965@schule.nrw.de,1,Warendorf,1,"(42.7222014, -83.36190730922124)",42.722201,-83.361907
5651,199977,Gesamtschule,"Julia-Koppers-Gesamtschule, Gesamtschule","Borken, GE Julia-Koppers-Gesamtschule",Auf der Flüt 9,46325,Borken,723,2.861925e+10,199977@schule.nrw.de,1,Borken,1,"(51.857261740280684, 6.848522005796673)",51.857262,6.848522
5652,199989,Grundschule,Städt. Gemeinschaftsgrundschule Brakel,"Brakel, GG Brakel",Klöckerstr. 25,33034,Brakel,637,5.272360e+10,199989@schule.nrw.de,1,Höxter,1,"(51.711206424763716, 9.1818016895822)",51.711206,9.181802
5653,199990,Gemeinschaftsschule (Schulversuch),Freie Christl. Schule Siegen Kaan-Marien,"Siegen, SK Freie Christliche Schule",Augärtenstr. 15,57074,Siegen,242,2.717734e+09,199990@schule.nrw.de,0,Siegen-Wittgenstein,1,"(50.871418871302886, 8.042159647144333)",50.871419,8.042160

In [11]:
df_teachers = df_teachers[df_teachers['type_of_school'] == 'Waldorfschule']
df_schools = df_schools[df_schools['school_type'] == 'Waldorfschule']

In [20]:
df_teachers.shape

(761, 16)

In [14]:
df_teachers['preference_big_school']

67       0
163      1
191      1
225      0
261      1
        ..
95096    0
95305    0
95683    0
95882    0
95938    1
Name: preference_big_school, Length: 761, dtype: int64

In [15]:
df_schools['is_big']

8       1
20      0
73      0
2959    0
3468    1
3472    0
3474    0
3478    1
3479    1
3482    1
3483    1
4440    0
4562    0
4581    0
4607    0
4641    0
4655    0
4656    1
4671    1
4674    1
4675    0
4738    1
4747    0
4748    0
4780    0
4782    1
4784    0
4818    0
4821    0
4845    0
4847    0
4882    0
4894    0
4903    1
4907    0
4944    0
4982    0
4984    1
4990    0
5002    0
5008    0
5022    0
5060    0
5100    0
5101    0
5173    0
5190    0
5199    0
5201    0
5203    0
5256    0
5290    0
5313    0
5323    0
5437    0
5469    0
5624    0
5633    0
Name: is_big, dtype: int64

In [16]:
import itertools

In [18]:
comp = [a == b for (a, b) in itertools.product(df_teachers['preference_big_school'].tolist(), df_schools['is_big'].tolist())]
len(comp)

44138

In [21]:
comp_array = np.array(comp).reshape(761, 58)
comp_array.shape

(761, 58)

In [22]:
comp_array_new = np.multiply(comp_array, 1)#.shape

In [25]:
with open('../data/preference_big_school_Waldorfschule.pkl','wb') as f:
    pickle.dump(comp_array_new, f)

In [26]:
comp = [a == b for (a, b) in itertools.product(df_teachers['preference_rural'].tolist(), df_schools['is_rural'].tolist())]
len(comp)

44138

In [27]:
comp_array = np.array(comp).reshape(761, 58)
comp_array.shape

(761, 58)

In [28]:
comp_array_new = np.multiply(comp_array, 1)#.shape

In [29]:
with open('../data/preference_rural_Waldorfschule.pkl','wb') as f:
    pickle.dump(comp_array_new, f)

In [61]:
comp_array_new.shape[0]

96000

In [63]:
(comp_array_new + comp_array_new)[0]

array([0, 0, 2, ..., 2, 2, 0])

In [11]:
number_teachers = df_teachers.shape[0]
number_schools = df_schools.shape[0]
cost_matrix = np.zeros(shape=(number_teachers, number_schools))
cost_matrix.shape

(96000, 5654)

In [34]:
df_teachers = df_teachers[df_teachers['type_of_school']=='Waldorfschule']
df_teachers.head()

,id,gender,age,residence,married,kids,subject_1,subject_2,type_of_school,salary_expectation,years_of_work_experience,preference_big_school,preference_rural,coordinates,latitude,longitude
67,67,female,43,52525,1,1,Music,Mathematics,Waldorfschule,62000,8,0,1,"(32.091800426914446, 34.80279714441326)",32.091800,34.802797
163,163,male,31,48629,0,0,Art,Sports,Waldorfschule,58000,4,1,1,"(44.32458327828735, -84.7452466236589)",44.324583,-84.745247
191,191,male,47,52525,0,1,Art,English,Waldorfschule,60000,20,1,1,"(32.091800426914446, 34.80279714441326)",32.091800,34.802797
225,225,female,33,48629,1,1,Geography,Science,Waldorfschule,52000,0,0,0,"(44.32458327828735, -84.7452466236589)",44.324583,-84.745247
261,261,male,54,33647,0,0,Music,Sports,Waldorfschule,54000,24,1,0,"(51.984403368678315, 8.508653894887162)",51.984403,8.508654

In [31]:
df_results = pd.read_csv('../data/results.csv')
df_results.head()

,iteration,teacher,school,cost,dist,pref_school_size_unsatisfied,pref_urban_rural_unsatisfied
0,1.0,0.0,25.0,32.155062,32.155062,0.0,0.0
1,1.0,1.0,23.0,34.074822,34.074822,0.0,0.0
2,1.0,2.0,52.0,31.592944,31.592944,0.0,0.0
3,1.0,3.0,1.0,33.198391,23.198391,1.0,0.0
4,1.0,4.0,28.0,26.696360,26.696360,0.0,0.0

In [35]:
df_map = pd.DataFrame()

In [36]:
df_map['iteration'] = df_results['iteration']

In [38]:
df_results

,iteration,teacher,school,cost,dist,pref_school_size_unsatisfied,pref_urban_rural_unsatisfied
0,1.0,0.0,25.0,32.155062,32.155062,0.0,0.0
1,1.0,1.0,23.0,34.074822,34.074822,0.0,0.0
2,1.0,2.0,52.0,31.592944,31.592944,0.0,0.0
3,1.0,3.0,1.0,33.198391,23.198391,1.0,0.0
4,1.0,4.0,28.0,26.696360,26.696360,0.0,0.0
...,...,...,...,...,...,...,...
1517,2.0,756.0,41.0,29.262380,9.262380,1.0,1.0
1518,2.0,757.0,9.0,21.832316,11.832316,0.0,1.0
1519,2.0,758.0,25.0,32.155062,32.155062,0.0,0.0
1520,2.0,759.0,17.0,20.366482,20.366482,0.0,0.0
1521,2.0,760.0,57.0,21.449101,21.449101,0.0,0.0

In [40]:
df_schools

,school_number,school_type,name,short_name,address,zipcode,location,student,tel,email,is_big,community,is_rural,coordinates,latitude,longitude
8,100018,Waldorfschule,Freie Waldorfschule Rudolf Steiner Schu-,"Essen, FW Schellstraße",Schellstr. 47,45134,Essen,624,2.014352e+08,100018@schule.nrw.de,1,"Essen, Stadt",0,"(54.87534225313415, 23.945446681757748)",54.875342,23.945447
20,100030,Waldorfschule,Freie Waldorfschule Rheine,"Rheine, FW Meisenstr.",Meisenstr. 30,48429,Rheine,103,5.971981e+10,100030@schule.nrw.de,0,Steinfurt,1,"(42.91461378862931, -83.999743409302)",42.914614,-83.999743
73,100087,Waldorfschule,Freie Waldorfschule Niederrhein-Aue,"Uedem, FW Niederrhein-Aue",Meursfeldstr. 8,47589,Uedem,58,2.825308e+10,100087@schule.nrw.de,0,Kleve,1,"(35.1775021, 129.0896454)",35.177502,129.089645
2959,152936,Waldorfschule,Christian-Morgenstern-Schule,"Wuppertal, FW Chr.-Morgenstern-Schule",Wittensteinstr. 76,42285,Wuppertal,251,2.028309e+07,152936@schule.nrw.de,0,"Wuppertal, Stadt",0,"(51.25989236688539, 7.174118107464759)",51.259892,7.174118
3468,164112,Waldorfschule,Freie Waldorfschule Krefeld,"Krefeld, FW Kaiserstraße",Kaiserstr. 61,47800,Krefeld,487,2.151540e+08,164112@schule.nrw.de,1,"Krefeld, Stadt",0,"(51.34604272037793, 6.602901361965979)",51.346043,6.602901
3472,164150,Waldorfschule,Priv. Rudolf-Steiner-Schule Wuppertal,"Wuppertal, FW Rudolf-Steiner-Schule",Schluchtstr. 21,42285,Wuppertal,406,2.022808e+08,164150@schule.nrw.de,0,"Wuppertal, Stadt",0,"(51.25989236688539, 7.174118107464759)",51.259892,7.174118
3474,164173,Waldorfschule,Priv. Freie Waldorfschule Bonn,"Bonn, FW Stettiner Straße",Stettiner Str. 21,53119,Bonn,416,2.286681e+08,164173@schule.nrw.de,0,"Bonn, Stadt",0,"(50.74575852736701, 7.064282336079666)",50.745759,7.064282
3478,164215,Waldorfschule,Rudolf-Steiner-Schule Schloß Hamborn,"Borchen, FW Rudolf-Steiner-Schule",Schloß Hamborn 5,33178,Borchen,565,5.251389e+09,164215@schule.nrw.de,1,Paderborn,1,"(25.832290045443667, -80.36994672920468)",25.832290,-80.369947
3479,164227,Waldorfschule,Rudolf Steiner Schule Bochum m. Förder-,"Bochum, FW Rudolf-Steiner-Schule",Hauptstr. 238-246,44892,Bochum,943,2.349221e+08,164227@schule.nrw.de,1,"Bochum, Stadt",0,"(51.46995765, 7.32260917565241)",51.469958,7.322609
3482,164252,Waldorfschule,Rudolf-Steiner-Schule,"Dortmund, FW Rudolf-Steiner-Schule",Mergelteichstr. 51,44225,Dortmund,738,2.314765e+09,164252@schule.nrw.de,1,"Dortmund, Stadt",0,"(51.47619666021302, 7.44414456169628)",51.476197,7.444145
3483,164264,Waldorfschule,"Hiberniaschule, staatlich genehmigte","Herne, FW Hiberniaschule",Holsterhauser Str. 70,44652,Herne,1065,2.325919e+07,164264@schule.nrw.de,1,"Herne, Stadt",0,"(51.522716616342734, 7.174543751719954)",51.522717,7.174544
4440,184408,Waldorfschule,Christopherus-Schule-Bochum f. Seelen-,"Bochum, FW Christopherus-Schule",Gerther Str. 31,44805,Bochum,101,2.348560e+07,184408@schule.nrw.de,0,"Bochum, Stadt",0,"(51.5114241079635, 7.272288674207733)",51.511424,7.272289
4562,186028,Waldorfschule,Priv. Rudolf-Steiner-Schule,"Bielefeld, FW Rudolf-Steiner-Schule",An der Propstei 23,33611,Bielefeld,352,5.219118e+10,186028@schule.nrw.de,0,"Bielefeld, Stadt",0,"(52.05019538091713, 8.547225930900238)",52.050195,8.547226
4581,186272,Waldorfschule,Troxler-Schule,"Wuppertal, FW Troxler-Schule",Nommensenweg 12,42285,Wuppertal,125,2.029791e+08,186272@schule.nrw.de,0,"Wuppertal, Stadt",0,"(51.25989236688539, 7.174118107464759)",51.259892,7.174118
4607,186661,Waldorfschule,Priv. Rudolf-Steiner-Schule,"Witten, FW Rudolf-Steiner-Schule",Billerbeckstr. 2,58455,Witten,406,2.302282e+09,186661@schule.nrw.de,0,Ennepe-Ruhr-Kreis,1,"(51.443175498893666, 7.319800335294122)",51.443175,7.319800
4641,187197,Waldorfschule,Verein Sonnenhellweg-Schule e.V.,"Bielefeld, FW Sonnenhellweg-Schule",Benzstr. 1,33613,Bielefeld,136,5.219891e+08,187197@schule.nrw.de,0,"Bielefeld, Stadt",0,"(52.04629244829058, 8.520554854282521)",52.046292,8.520555
4655,187409,Waldorfschule,Widar Schule,"Bochum, FW Widar Schule",Höntroper Str. 95,44869,Bochum,391,2.327976e+08,187409@schule.nrw.de,0,"Bochum, Stadt",0,"(51.45317961598811, 7.159846986590844)",51.453180,7.159847
4656,187410,Waldorfschule,Rudolf-Steiner-Schule,"Düsseldorf, FW Rudolf-Steiner-Schule",Diepenstr. 15,40625,Düsseldorf,495,2.112321e+08,187410@schule.nrw.de,1,"Düsseldorf, Stadt",0,"(51.23299887255058, 6.85297594757163)",51.232999,6.852976
4671,187604,Waldorfschule,Freie Waldorfschule in Köln,"Köln, FW Weichselring",Weichselring 6-8,50765,Köln,452,2.219703e+09,187604@schule.nrw.de,1,"Köln, Stadt",0,"(51.019939719546116, 6.872622209321929)",51.019940,6.872622
4674,187630,Waldorfschule,Freie Waldorfschule Gladbeck,"Gladbeck, FW Horster Straße",Horster Str. 82,45968,Gladbeck,469,2.043297e+08,187630@schule.nrw.de,1,Recklinghausen,1,"(51.55512502095231, 7.006508532156633)",51.555125,7.006509
4675,187641,Waldorfschule,Priv. Rudolf-Steiner-Schule in Siegen,"Siegen, FW Rudolf-Steiner-Schule",Kolpingstr. 3,57072,Siegen,333,2.714886e+08,187641@schule.nrw.de,0,Siegen-Wittgenstein,1,"(50.87851375604157, 8.006499931449204)",50.878514,8.006500
4738,188451,Waldorfschule,Freie Waldorfschule Mülheim an der Ruhr,"Mülheim an der Ruhr, FW Blumendeller Str",Blumendeller Str. 29,45472,Mülheim an der Ruhr,601,2.089110e+10,188451@schule.nrw.de,1,"Mülheim an der Ruhr, Stadt",0,"(54.85738603515449, 24.01151984577966)",54.857386,24.011520
4747,188580,Waldorfschule,Rudolf-Steiner-Schule Hagen,"Hagen, FW Rudolf-Steiner-Schule",Enneper Str. 30,58135,Hagen,312,2.331404e+09,188580@schule.nrw.de,0,"Hagen, Stadt",0,"(51.34634257485043, 7.417621302228588)",51.346343,7.417621
4748,188591,Waldorfschule,Freie Waldorfschule in Münster e.V.,"Münster, FW Rudolf-Steiner-Weg",Rudolf-Steiner-Weg 11,48149,Münster,398,2.518700e+07,188591@schule.nrw.de,0,"Münster, Stadt",0,"(51.96566208139757, 7.600193014490914)",51.965662,7.600193
4780,188980,Waldorfschule,Freie Waldorfschule Haan-Gruiten,"Haan, FW Haan-Gruiten",Prälat-Marschall-Str. 34,42781,Haan,414,2.104647e+07,188980@schule.nrw.de,0,Mettmann,1,"(51.208013199999996, 7.01574931157376)",51.208013,7.015749
4782,189005,Waldorfschule,Freie Waldorfschule Aachen,"Aachen, FW Anton-Kurze-Allee",Anton-Kurze-Allee 10,52064,Aachen,521,2.417104e+07,189005@schule.nrw.de,1,Städteregion Aachen,0,"(42.068521201788585, -90.31960998742449)",42.068521,-90.319610
4784,189030,Waldorfschule,Christopherus-Schule-Dortmund f. Seelen-,"Dortmund, FW Christopherus-Schule",Kreisstr. 55,44267,Dortmund,116,2.304983e+10,189030@schule.nrw.de,0,"Dortmund, Stadt",0,"(51.455419, 7.524705411354844)",51.455419,7.524705
4818,189443,Waldorfschule,Rudolf-Steiner-Schule,"Remscheid, FW Rudolf-Steiner-Schule",Schwarzer Weg 9,42897,Remscheid,409,2.191668e+09,189443@schule.nrw.de,0,"Remscheid, Stadt",0,"(51.189310628698735, 7.264684732710178)",51.189311,7.264685
4821,189479,Waldorfschule,Freie Waldorfschule Lippe-Detmold,"Detmold, FW Rudolf-Steiner-Schule",Blomberger Str. 67,32760,Detmold,358,5.231958e+08,189479@schule.nrw.de,0,Lippe,1,"(51.92093562751715, 8.883130819419529)",51.920936,8.883131
4845,189753,Waldorfschule,Freie Waldorfschule Bergisch Gladbach,"Bergisch Gladbach, FW Mohnweg",Mohnweg 13,51427,Bergisch Gladbach,363,2.205000e+09,189753@schule.nrw.de,0,Rheinisch-Bergischer Kreis,1,"(50.9442448, 7.153996362348264)",50.944245,7.153996
4847,189789,Waldorfschule,Freie Waldorfschule,"Hamm, FW Kobbenskamp",Kobbenskamp 23,59077,Hamm,344,2.381409e+08,189789@schule.nrw.de,0,"Hamm, Stadt",0,"(58.48964183755395, 15.531425899910923)",58.489642,15.531426
4882,190214,Waldorfschule,"Johannes - Schule Bonn, Freie Waldorf-","Bonn, FW Johannes-Schule Bonn",Rehfuesstr. 38,53115,Bonn,129,2.289143e+08,190214@schule.nrw.de,0,"Bonn, Stadt",0,"(50.72521074675958, 7.090696566604016)",50.725211,7.090697
4894,190380,Waldorfschule,"Rudolf Steiner Schule, Freie Waldorf-","Mönchengladbach,FW Rudolf-Steiner-Schule",Weiersweg 10,41065,Mönchengladbach,367,2.161821e+09,190380@schule.nrw.de,0,"Mönchengladbach, Stadt",0,"(51.19482925, 6.469061545770222)",51.194829,6.469062
4903,190494,Waldorfschule,Freie Waldorfschule Dinslaken,"Dinslaken, FW Niederrhein",Eppinkstr. 173,46535,Dinslaken,464,2.064547e+08,190494@schule.nrw.de,1,Wesel,1,"(51.55865461844162, 6.731096456228988)",51.558655,6.731096
4907,190561,Waldorfschule,Ita-Wegman-Schule,"Herdecke, FW Ita-Wegmann-Schule",Gerhard-Kienle-Weg 4,58313,Herdecke,58,2.330624e+09,190561@schule.nrw.de,0,Ennepe-Ruhr-Kreis,1,"(51.4130608, 7.418825257649052)",51.413061,7.418825
4944,191048,Waldorfschule,Freie Waldorfschule Erftstadt,"Erftstadt, FW An der Waldorfschule",An der Waldorfschule 1,50374,Erftstadt,434,2.235461e+08,191048@schule.nrw.de,0,Rhein-Erft-Kreis,1,"(50.80381177948398, 6.782741998346507)",50.803812,6.782742
4982,191528,Waldorfschule,Freie Waldorfschule Sankt Augustin,"Sankt Augustin, FW Graf-Zeppelin-Straße",Graf-Zeppelin-Str. 7,53757,Sankt Augustin,394,2.241921e+09,191528@schule.nrw.de,0,Rhein-Sieg-Kreis,1,"(50.7738618112974, 7.186856353051183)",50.773862,7.186856
4984,191541,Waldorfschule,Freie Waldorfschule Oberberg,"Gummersbach, FW Oberberg",Kirchhellstr. 32,51645,Gummersbach,466,2.261969e+09,191541@schule.nrw.de,1,Oberbergischer Kreis,1,"(40.888580600000004, -95.418801)",40.888581,-95.418801
4990,191620,Waldorfschule,"Georgschule, Freie Waldorfschule,Förder-","Dortmund, FW Georgschule",Mergelteichstr. 63,44225,Dortmund,170,2.317258e+09,191620@schule.nrw.de,0,"Dortmund, Stadt",0,"(51.47619666021302, 7.44414456169628)",51.476197,7.444145
5002,191760,Waldorfschule,Freie Waldorfschule Gütersloh,"Gütersloh, FW Hermann-Rothert-Straße",Hermann-Rothert-Str. 7,33335,Gütersloh,385,5.209558e+07,191760@schule.nrw.de,0,Gütersloh,1,"(51.921995249999995, 8.461380420183524)",51.921995,8.461380
5008,191838,Waldorfschule,"Raphael-Schule, Waldorf-Förderschule","Gelsenkirchen, FW Raphael-Schule",Coesfelder Str. 75,45892,Gelsenkirchen,132,2.091207e+09,191838@schule.nrw.de,0,"Gelsenkirchen, Stadt",0,"(51.57553926055467, 7.110802099044404)",51.575539,7.110802
5022,192028,Waldorfschule,Freie Waldorfschule Minden,"Minden, FW Haberbreede",Haberbreede 37,32429,Minden,280,5.734960e+08,192028@schule.nrw.de,0,Minden-Lübbecke,1,"(52.27084624780879, 8.869793664717324)",52.270846,8.869794
5060,192510,Waldorfschule,Freie Schule Kierspe,"Kierspe, FW In den Erlen",Erlen 5,58566,Kierspe,130,2.359124e+07,192510@schule.nrw.de,0,Märkischer Kreis,1,"(51.1451584, 7.586494054824804)",51.145158,7.586494
5100,193045,Waldorfschule,Johanna-Ruß-Schule,"Siegen, FW Johanna-Ruß-Schule",Numbachstr. 3,57072,Siegen,113,2.712331e+07,193045@schule.nrw.de,0,Siegen-Wittgenstein,1,"(50.87851375604157, 8.006499931449204)",50.878514,8.006500
5101,193057,Waldorfschule,Windrather Talschule,"Velbert, FW Talschule",Panner Str. 24,42555,Velbert,281,2.052926e+08,193057@schule.nrw.de,0,Mettmann,1,"(51.35696946758779, 7.122820954305821)",51.356969,7.122821
5173,194013,Waldorfschule,Blote-Vogel-Schule,"Witten, FW Blote-Vogel-Schule",Stockumer Str. 100,58454,Witten,375,2.302957e+09,194013@schule.nrw.de,0,Ennepe-Ruhr-Kreis,1,"(51.45638505, 7.356894479255708)",51.456385,7.356894
5190,194220,Waldorfschule,Freie Waldorfschule Soest,"Soest, FW Hugo Kükelhaus Schule",Wisbyring 13,59494,Soest,280,2.921343e+09,194220@schule.nrw.de,0,Soest,1,"(50.37112320575283, 3.4696354182854754)",50.371123,3.469635
5199,194359,Waldorfschule,Freie Waldorfschule Neuenrade,"Neuenrade, FW Remmelshagen",Remmelshagen 1-5,58809,Neuenrade,276,2.392807e+10,194359@schule.nrw.de,0,Märkischer Kreis,1,"(51.281592399999994, 7.82475292536957)",51.281592,7.824753
5201,194372,Waldorfschule,Freie Waldorfschule in Everswinkel,"Everswinkel, FW Wester",Wester 32,48351,Everswinkel,270,2.582992e+09,194372@schule.nrw.de,0,Warendorf,1,"(54.90926730962196, 23.89008930552327)",54.909267,23.890089
5203,194402,Waldorfschule,Michaeli Schule,"Köln, FW Michaeli Schule",Vorgebirgswall 4-8,50677,Köln,294,2.219236e+09,194402@schule.nrw.de,0,"Köln, Stadt",0,"(50.92172144752845, 6.951975888125667)",50.921721,6.951976
5256,195108,Waldorfschule,Freie Waldorfschule,"Wegberg, FW Dechant-Ruppertzhoven-Weg",Dechant-Ruppertzhoven-Weg 12,41844,Wegberg,183,2.436380e+09,195108@schule.nrw.de,0,Kreis Heinsberg,1,"(37.3304895184812, -82.87599411936921)",37.330490,-82.875994
5290,195522,Waldorfschule,"Neue Duisburger Schule, Staatl. genehm.","Duisburg, FW Neue Duisburger Schule",Heinrich-Bierwes-Str. 13-15,47259,Duisburg,180,2.034499e+10,195522@schule.nrw.de,0,"Duisburg, Stadt",0,"(54.92972504514327, 23.850245628653667)",54.929725,23.850246
5313,195789,Waldorfschule,Parzivalschule Aachen,"Aachen, FW Parzivalschule",Aachener-und-Münchener-Allee 5,52074,Aachen,101,2.415597e+09,195789@schule.nrw.de,0,Städteregion Aachen,0,"(50.775499777035456, 6.052256545741093)",50.775500,6.052257
5323,195893,Waldorfschule,Franziskus-Schule,"Neunkirchen-Seel., FW Franziskus",Breite Str. 44,53819,Neunkirchen-Seelscheid,122,2.247900e+10,195893@schule.nrw.de,0,Rhein-Sieg-Kreis,1,"(50.856541980836234, 7.333386364640098)",50.856542,7.333386
5437,197427,Waldorfschule,Schule Altes Pfarrhaus n.Rudolf Steiners,"Herdecke, FW Altes Pfarrhaus",Kirchender Dorfweg 21,58313,Herdecke,41,2.330608e+09,197427@schule.nrw.de,0,Ennepe-Ruhr-Kreis,1,"(51.4130608, 7.418825257649052)",51.413061,7.418825
5469,197830,Waldorfschule,Freie Veytalschule Satzvey,"Mechernich,FW Freie Veytalschule Satzvey",Am Kirchturm 7,53894,Mechernich,143,2.256957e+09,197830@schule.nrw.de,0,Euskirchen,1,"(50.588172150000005, 6.649661055864245)",50.588172,6.649661
5624,199679,Waldorfschule,Freie Waldorfschule Lienen,"Lienen, FW Lührmannsweg",Lührmanns Weg 1,49536,Lienen,138,5.483755e+10,199679@schule.nrw.de,0,Steinfurt,1,"(52.13191465, 7.941481362479925)",52.131915,7.941481
5633,199771,Waldorfschule,SCI Integrative Ganztagssch.Moers m. den,"Moers,FW SCI Integrative Ganztagsschule",Stormstr. 17,47445,Moers,147,2.841881e+10,199771@schule.nrw.de,0,Wesel,1,"(51.482353119027, 6.615628902961255)",51.482353,6.615629